.logo{
    display: inline;
    margin: 3px;
}
.logo-img{
    width: 120px;
    height: 100px;
}
.navBar{ 
    display: flex;
    background-color: #a4eea7;
    justify-content: space-between;
}
.nav-div-list{
    text-align: right;
    display: flex;
    align-items: end;
}
.nav-list{
    display: flex;   
    list-style: none;    
}
.nav-list-li a{
    margin: 8px;
    text-decoration: none;
    color: #333; 
    transition: color 0.3s ease;
    font-size: larger;
}
.nav-div-list a:hover{
    color: #33a3ff;    
}
.nav-div-carrito{
    position: relative;
    justify-content: end;
    margin: 10px;
    margin-right: 15px;
}
.nav-span{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f32742; /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%; /* Forma redondeada */
    transform: translate(50%, -50%);  
}